@import url("classic.css");

.body {
    background-color: #ffffff;
    background-image:
        linear-gradient(45deg, #f4f4ff 25%, transparent 25%, transparent 75%, #f4f4ff 75%, #f4f4ff), 
        linear-gradient(45deg, #f4f4ff 25%, transparent 25%, transparent 75%, #f4f4ff 75%, #f4f4ff);
    background-size: 20px 20px;
    background-position:0 0, 10px 10px
}
div.body {
    max-width: 1600px; /* recent base.css defines max-width: 800px, it is annoying... */
}

div.body h1 { font-size: 300%; }
div.body h2 { border-bottom: 2px solid #99c; font-size: 250%; text-align: right; }
div.body h3 { margin-left: -10px; border-left: 3px solid #99c; }
div.body h4 { margin-left: -2px; margin-right: 20%; }
div.body h5 {  }
div.body h6 {  }

code {
    font-size: 0.99em;
}
.longwidth-code {
    font-size: 0.96em;
}
.verylongwidth-code {
    font-size: 0.94em;
}
.veryverylongwidth-code {
    font-size: 0.92em;
}
.veryveryverylongwidth-code {
    font-size: 0.90em;
}
.veryveryveryverylongwidth-code {
    font-size: 0.85em;
}
.veryveryveryveryverylongwidth-code {
    font-size: 0.80em;
}

div.literal-block-wrapper {
    padding: 0 !important
}

.sphinxsidebarwrapper {
    font-size: 70%;
}
.sphinxsidebarwrapper li {
    line-height: 1.4;
}
.button-search {
    
    font-size: 12px;
    padding: 0pt 1pt;
}
.button-search:hover {
    cursor: pointer;
}
blockquote {

    background-color: #30295910 !important;
    display: block;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 10px;
    margin-inline-end: 10px;

    padding-block-start: 0.7em;
    padding-block-end: 0.7em;
    padding-inline-start: 30px;
    padding-inline-end: 30px;

    border-style: solid;
    border-width: 1px;
    border-color: #30306040;

    margin-bottom: 1em;
}
.highlight .hll {
    background-color: #ffff77 !important;
}