<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>テスト運用のまま始めてみるブログ。</title>
        <link>http://hhsprings.bitbucket.org/blog/</link>
        <description>またの名を、tinkerer な保守が耐えうるか不安なブログ。</description>
        <language>en-us</language>
        <pubDate>Tue, 07 Jun 2016 00:00:00 +0900</pubDate>
        
        <item>
            <link>http://hhsprings.bitbucket.org/blog/2016/06/07/101049.html</link>
            <guid>http://hhsprings.bitbucket.org/blog/2016/06/07/101049.html</guid>
            <title><![CDATA[tinkerer の生成物を「コピー」]]></title>
            <description><![CDATA[<h1>tinkerer の生成物を「コピー」</h1>
<p>コピー、というか、「コピーしたくない」というハナシ。</p>
<p>bitbucket の Web ホスティングのシカケは至って単純で、ワタシ(hhsprings)の場合だと</p>
<ul class="simple">
<li>hhsprings.bitbucket.org というレポジトリを作る</li>
<li>ここに静的ページを置く</li>
</ul>
<p>だけでいい。これで <a class="reference external" href="http://hhsprings.bitbucket.org/">http://hhsprings.bitbucket.org/</a> から誰もが見れる Web サイトになる。</p>
<p>Web サイトの構造が tinkerer の管理構造に振り回されるなんかゴメンだね、てわけで、tinkerer の生成フォルダ blog/html を「どうにかそのレポジトリのクローンの場所に持っていく」必要がありますね、っと。けど量が増えてきたらコピーだろうが移動だろうが、大変だろうなぁと。</p>
<p>こういうの、Unix ならあまり困らないのだが、Windows だと色々不自由だ。rsync なんぞ使いたくもなるが、導入だけでも泣けてくるし。なんてことを考えていたが、そういえば Windows でもハードリンク使えるよなと。</p>
<p>雑なスクリプトですいませんっ:</p>
<div class="highlight-python"><div class="highlight"><pre><span class="c1"># -*- coding: utf-8 -*-</span>
<span class="c1"># たぶん Python 2.x 用。むろん Windows 用。</span>
<span class="kn">import</span> <span class="nn">os</span>
<span class="kn">from</span> <span class="nn">os</span> <span class="kn">import</span> <span class="n">path</span>
<span class="kn">from</span> <span class="nn">distutils.dir_util</span> <span class="kn">import</span> <span class="n">mkpath</span>

<span class="k">def</span> <span class="nf">_hardlink_file</span><span class="p">(</span><span class="n">src</span><span class="p">,</span> <span class="n">dst</span><span class="p">):</span>
    <span class="c1"># CreateHardLink の src, dst が POSIX ln と逆なの…</span>
    <span class="kn">from</span> <span class="nn">ctypes</span> <span class="kn">import</span> <span class="n">windll</span>
    <span class="n">_api</span> <span class="o">=</span> <span class="n">windll</span><span class="o">.</span><span class="n">kernel32</span><span class="o">.</span><span class="n">CreateHardLinkW</span>
    <span class="n">dst</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">normpath</span><span class="p">(</span><span class="n">dst</span><span class="p">)</span>
    <span class="n">src</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">normpath</span><span class="p">(</span><span class="n">src</span><span class="p">)</span>
    <span class="n">_api</span><span class="p">(</span><span class="n">dst</span><span class="p">,</span> <span class="n">src</span><span class="p">,</span> <span class="bp">None</span><span class="p">)</span>  <span class="c1"># 第三引数は sa。デフォルトの NULL (None) でいい。</span>

<span class="k">def</span> <span class="nf">_collect_files</span><span class="p">(</span><span class="n">target</span><span class="p">):</span>
    <span class="n">res</span> <span class="o">=</span> <span class="nb">set</span><span class="p">()</span>
    <span class="k">for</span> <span class="n">root</span><span class="p">,</span> <span class="n">dirs</span><span class="p">,</span> <span class="n">files</span> <span class="ow">in</span> <span class="n">os</span><span class="o">.</span><span class="n">walk</span><span class="p">(</span><span class="n">target</span><span class="p">):</span>
        <span class="n">r</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">relpath</span><span class="p">(</span><span class="n">root</span><span class="p">,</span> <span class="n">target</span><span class="p">)</span>
        <span class="k">for</span> <span class="n">f</span> <span class="ow">in</span> <span class="n">files</span><span class="p">:</span>
            <span class="n">res</span><span class="o">.</span><span class="n">add</span><span class="p">(</span><span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">r</span><span class="p">,</span> <span class="n">f</span><span class="p">))</span>
    <span class="k">return</span> <span class="n">res</span>

<span class="n">tinkerer_outdir</span> <span class="o">=</span> <span class="s1">u'...'</span>  <span class="c1"># tinkerer の blog/html フォルダ</span>
<span class="n">bitbucket_srcdir</span> <span class="o">=</span> <span class="s1">u'...'</span>  <span class="c1"># デプロイするレポジトリのクローンの場所</span>

<span class="n">tinkerer_all</span> <span class="o">=</span> <span class="n">_collect_files</span><span class="p">(</span><span class="n">tinkerer_outdir</span><span class="p">)</span>

<span class="k">for</span> <span class="n">f</span> <span class="ow">in</span> <span class="n">tinkerer_all</span><span class="p">:</span>
    <span class="n">srcf</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">tinkerer_outdir</span><span class="p">,</span> <span class="n">f</span><span class="p">)</span>
    <span class="n">dstf</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">join</span><span class="p">(</span><span class="n">bitbucket_srcdir</span><span class="p">,</span> <span class="n">f</span><span class="p">)</span>
    <span class="n">dstd</span> <span class="o">=</span> <span class="n">path</span><span class="o">.</span><span class="n">dirname</span><span class="p">(</span><span class="n">dstf</span><span class="p">)</span>
    <span class="k">if</span> <span class="ow">not</span> <span class="n">path</span><span class="o">.</span><span class="n">exists</span><span class="p">(</span><span class="n">dstd</span><span class="p">):</span>
        <span class="n">mkpath</span><span class="p">(</span><span class="n">dstd</span><span class="p">)</span>
    <span class="k">elif</span> <span class="n">path</span><span class="o">.</span><span class="n">exists</span><span class="p">(</span><span class="n">dstf</span><span class="p">):</span>
        <span class="n">os</span><span class="o">.</span><span class="n">unlink</span><span class="p">(</span><span class="n">dstf</span><span class="p">)</span>
    <span class="n">_hardlink_file</span><span class="p">(</span><span class="n">srcf</span><span class="p">,</span> <span class="n">dstf</span><span class="p">)</span>
</pre></div>
</div>
<p>ハードリンクなのでローカル PC のほうのディスクは圧迫しないはず。コピーしないので速いし。まぁまぁなのかな、きっと。</p>
]]></description>
             <pubDate>Tue, 07 Jun 2016 00:00:00 +0900</pubDate>
        </item>
    
        <item>
            <link>http://hhsprings.bitbucket.org/blog/2016/06/07/081150.html</link>
            <guid>http://hhsprings.bitbucket.org/blog/2016/06/07/081150.html</guid>
            <title><![CDATA[tinkerer の pygments style]]></title>
            <description><![CDATA[<h1>tinkerer の pygments style</h1>
<p>デフォルトの syntax highlight、読めないってば。</p>
<p>自分のソースディレクトリに _static/my_pygments_style.css なんぞを置いて、_templates ディレクトリに以下内容で　page.html を作る:</p>
<div class="highlight-django"><div class="highlight"><pre><span class="cp">{%</span> <span class="k">extends</span> <span class="s2">"!page.html"</span> <span class="cp">%}</span><span class="x"/>

<span class="cp">{%</span> <span class="k">set</span> <span class="nv">css_files</span> <span class="o">=</span> <span class="nv">css_files</span> <span class="o">+</span> <span class="o">[</span><span class="s2">"_static/my_pygments_style.css"</span><span class="o">]</span> <span class="cp">%}</span><span class="x"/>
</pre></div>
</div>
<p>my_pygments_style.css は docs.python.org あたりのから持ってくる:</p>
<div class="highlight-css"><div class="highlight"><pre><span class="nc">.highlight</span> <span class="nc">.hll</span> <span class="p">{</span> <span class="k">background-color</span><span class="o">:</span> <span class="m">#ffffcc</span> <span class="p">}</span>
<span class="nc">.highlight</span>  <span class="p">{</span> <span class="k">background</span><span class="o">:</span> <span class="m">#eeffcc</span><span class="p">;</span> <span class="p">}</span>
<span class="nc">.highlight</span> <span class="nc">.c</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#408090</span><span class="p">;</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Comment */</span>
<span class="nc">.highlight</span> <span class="nc">.err</span> <span class="p">{</span> <span class="k">border</span><span class="o">:</span> <span class="m">1px</span> <span class="k">solid</span> <span class="m">#FF0000</span> <span class="p">}</span> <span class="c">/* Error */</span>
<span class="nc">.highlight</span> <span class="nc">.k</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Keyword */</span>
<span class="nc">.highlight</span> <span class="nc">.o</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#666666</span> <span class="p">}</span> <span class="c">/* Operator */</span>
<span class="nc">.highlight</span> <span class="nc">.cm</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#408090</span><span class="p">;</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Comment.Multiline */</span>
<span class="nc">.highlight</span> <span class="nc">.cp</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span> <span class="p">}</span> <span class="c">/* Comment.Preproc */</span>
<span class="nc">.highlight</span> <span class="nc">.c1</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#408090</span><span class="p">;</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Comment.Single */</span>
<span class="nc">.highlight</span> <span class="nc">.cs</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#408090</span><span class="p">;</span> <span class="k">background-color</span><span class="o">:</span> <span class="m">#fff0f0</span> <span class="p">}</span> <span class="c">/* Comment.Special */</span>
<span class="nc">.highlight</span> <span class="nc">.gd</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#A00000</span> <span class="p">}</span> <span class="c">/* Generic.Deleted */</span>
<span class="nc">.highlight</span> <span class="nc">.ge</span> <span class="p">{</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Generic.Emph */</span>
<span class="nc">.highlight</span> <span class="nc">.gr</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#FF0000</span> <span class="p">}</span> <span class="c">/* Generic.Error */</span>
<span class="nc">.highlight</span> <span class="nc">.gh</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#000080</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Generic.Heading */</span>
<span class="nc">.highlight</span> <span class="nc">.gi</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#00A000</span> <span class="p">}</span> <span class="c">/* Generic.Inserted */</span>
<span class="nc">.highlight</span> <span class="nc">.go</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#333333</span> <span class="p">}</span> <span class="c">/* Generic.Output */</span>
<span class="nc">.highlight</span> <span class="nc">.gp</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#c65d09</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Generic.Prompt */</span>
<span class="nc">.highlight</span> <span class="nc">.gs</span> <span class="p">{</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Generic.Strong */</span>
<span class="nc">.highlight</span> <span class="nc">.gu</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#800080</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Generic.Subheading */</span>
<span class="nc">.highlight</span> <span class="nc">.gt</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#0044DD</span> <span class="p">}</span> <span class="c">/* Generic.Traceback */</span>
<span class="nc">.highlight</span> <span class="nc">.kc</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Keyword.Constant */</span>
<span class="nc">.highlight</span> <span class="nc">.kd</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Keyword.Declaration */</span>
<span class="nc">.highlight</span> <span class="nc">.kn</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Keyword.Namespace */</span>
<span class="nc">.highlight</span> <span class="nc">.kp</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span> <span class="p">}</span> <span class="c">/* Keyword.Pseudo */</span>
<span class="nc">.highlight</span> <span class="nc">.kr</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Keyword.Reserved */</span>
<span class="nc">.highlight</span> <span class="nc">.kt</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#902000</span> <span class="p">}</span> <span class="c">/* Keyword.Type */</span>
<span class="nc">.highlight</span> <span class="nc">.m</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number */</span>
<span class="nc">.highlight</span> <span class="nc">.s</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String */</span>
<span class="nc">.highlight</span> <span class="nc">.na</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Name.Attribute */</span>
<span class="nc">.highlight</span> <span class="nc">.nb</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span> <span class="p">}</span> <span class="c">/* Name.Builtin */</span>
<span class="nc">.highlight</span> <span class="nc">.nc</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#0e84b5</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Class */</span>
<span class="nc">.highlight</span> <span class="nc">.no</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#60add5</span> <span class="p">}</span> <span class="c">/* Name.Constant */</span>
<span class="nc">.highlight</span> <span class="nc">.nd</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#555555</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Decorator */</span>
<span class="nc">.highlight</span> <span class="nc">.ni</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#d55537</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Entity */</span>
<span class="nc">.highlight</span> <span class="nc">.ne</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span> <span class="p">}</span> <span class="c">/* Name.Exception */</span>
<span class="nc">.highlight</span> <span class="nc">.nf</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#06287e</span> <span class="p">}</span> <span class="c">/* Name.Function */</span>
<span class="nc">.highlight</span> <span class="nc">.nl</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#002070</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Label */</span>
<span class="nc">.highlight</span> <span class="nc">.nn</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#0e84b5</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Namespace */</span>
<span class="nc">.highlight</span> <span class="nc">.nt</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#062873</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Name.Tag */</span>
<span class="nc">.highlight</span> <span class="nc">.nv</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#bb60d5</span> <span class="p">}</span> <span class="c">/* Name.Variable */</span>
<span class="nc">.highlight</span> <span class="nc">.ow</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Operator.Word */</span>
<span class="nc">.highlight</span> <span class="nc">.w</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#bbbbbb</span> <span class="p">}</span> <span class="c">/* Text.Whitespace */</span>
<span class="nc">.highlight</span> <span class="nc">.mb</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Bin */</span>
<span class="nc">.highlight</span> <span class="nc">.mf</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Float */</span>
<span class="nc">.highlight</span> <span class="nc">.mh</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Hex */</span>
<span class="nc">.highlight</span> <span class="nc">.mi</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Integer */</span>
<span class="nc">.highlight</span> <span class="nc">.mo</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Oct */</span>
<span class="nc">.highlight</span> <span class="nc">.sb</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String.Backtick */</span>
<span class="nc">.highlight</span> <span class="nc">.sc</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String.Char */</span>
<span class="nc">.highlight</span> <span class="nc">.sd</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span><span class="p">;</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Literal.String.Doc */</span>
<span class="nc">.highlight</span> <span class="nc">.s2</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String.Double */</span>
<span class="nc">.highlight</span> <span class="nc">.se</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span><span class="p">;</span> <span class="k">font-weight</span><span class="o">:</span> <span class="k">bold</span> <span class="p">}</span> <span class="c">/* Literal.String.Escape */</span>
<span class="nc">.highlight</span> <span class="nc">.sh</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String.Heredoc */</span>
<span class="nc">.highlight</span> <span class="nc">.si</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#70a0d0</span><span class="p">;</span> <span class="k">font-style</span><span class="o">:</span> <span class="k">italic</span> <span class="p">}</span> <span class="c">/* Literal.String.Interpol */</span>
<span class="nc">.highlight</span> <span class="nc">.sx</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#c65d09</span> <span class="p">}</span> <span class="c">/* Literal.String.Other */</span>
<span class="nc">.highlight</span> <span class="nc">.sr</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#235388</span> <span class="p">}</span> <span class="c">/* Literal.String.Regex */</span>
<span class="nc">.highlight</span> <span class="nc">.s1</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#4070a0</span> <span class="p">}</span> <span class="c">/* Literal.String.Single */</span>
<span class="nc">.highlight</span> <span class="nc">.ss</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#517918</span> <span class="p">}</span> <span class="c">/* Literal.String.Symbol */</span>
<span class="nc">.highlight</span> <span class="nc">.bp</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#007020</span> <span class="p">}</span> <span class="c">/* Name.Builtin.Pseudo */</span>
<span class="nc">.highlight</span> <span class="nc">.vc</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#bb60d5</span> <span class="p">}</span> <span class="c">/* Name.Variable.Class */</span>
<span class="nc">.highlight</span> <span class="nc">.vg</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#bb60d5</span> <span class="p">}</span> <span class="c">/* Name.Variable.Global */</span>
<span class="nc">.highlight</span> <span class="nc">.vi</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#bb60d5</span> <span class="p">}</span> <span class="c">/* Name.Variable.Instance */</span>
<span class="nc">.highlight</span> <span class="nc">.il</span> <span class="p">{</span> <span class="k">color</span><span class="o">:</span> <span class="m">#208050</span> <span class="p">}</span> <span class="c">/* Literal.Number.Integer.Long */</span>
</pre></div>
</div>
]]></description>
             <pubDate>Tue, 07 Jun 2016 00:00:00 +0900</pubDate>
        </item>
    
        <item>
            <link>http://hhsprings.bitbucket.org/blog/2016/06/07/065006.html</link>
            <guid>http://hhsprings.bitbucket.org/blog/2016/06/07/065006.html</guid>
            <title><![CDATA[とにかく始めてみる]]></title>
            <description><![CDATA[<h1>とにかく始めてみる</h1>
<p>前から気になっていた tinkerer で。</p>
<p>ブログタイトルにしちゃった通りで少々不安だ。慣れている Sphinx で書けるのはいいが、ページ数が増えてきたらどんどんビルド時間がかかっちゃうのかな? この子。</p>
]]></description>
             <pubDate>Tue, 07 Jun 2016 00:00:00 +0900</pubDate>
        </item>
    
    </channel>
</rss>